body {
    background-color: red;
}

h1 {
    color: burlywood;
    font-size: 2.7rem;
}
                a {
                    color: rgb(255, 152, 17);
                    font-size: 2rem;
                    background-color: rgb(78, 75, 71)
                }